@import './base.css';


.container {
    padding: 4rem 4rem;
    flex: 1;
}
@media (max-width: 800px) {
    .container {
        padding: 1rem 1rem;
    }
}

.title {
    font-size: var(--header-size);
}

.subtitle{
    font-size: var(--sub-header-size);
}